<a href="/">Home</a>


<form action = "/submit" method ="post">
<input name="email" type="email">
<input name="message" type="text">
<button>Submit</button>
</form>


<!-- #this is the creation of the html form that will be accessed -->
