<h1>This is the input block on the contact page</h1>
<p></p>


<form action="/users/create"
method="post">
<input name="name" type="text" placeholder="your mom goes here">
  <!-- <input name= "user['name']"> -->
  <button> Submit</button>
  </form>




