<h1>Say my name Say my name</h1>
<p>Find me in app/views/users/index.html.erb</p>




<form action="/users/create"
method="post">
<input name="name" type="text">

  <!-- <input name= "user['name']"> -->
  <button> Submit</button>
  </form>
