<h1>LoveLetters#new</h1>

<form method="POST" action="/love_letters">
  <input type="text" name="message">
  <input type="hidden" name="lover_id" value="<%= @lover_id %>">
  <button>Create</button>
</form>
