<h1>Editing Character</h1>

<%= render 'form' %>

<%= link_to 'Show', user_character_path(@user, @character), :class => 'btn btn-success btn-xs active' %> |
<%= link_to 'Back', user_characters_path(@user), :class => 'btn btn-success btn-xs active' %>
