<h1><%= @user.name %></h1>

<%= link_to 'Edit Your Profile', edit_user_path(@user), :class => 'btn btn-warning btn-lg active' %>
<br><br>
<%= link_to 'Delete Your Profile', user_path(@user), method: :delete, data: {confirm: 'Are you sure?'}, :class => 'btn btn-danger btn-lg active' %>
