<h1>Welcome#index</h1>
<p>When a user visits the root of your application the user should see...

the text "Hello and Welcome!" and a
link with the text "Right this way"</p>

<a href="/rabbit_hole">link with the text "Right this way"</a>
