<!DOCTYPE html>
<html ng-app="DemoApp">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="./app.js"></script>
  <script src="./dreams_controller.js"></script>
  <script src="./journal_controller.js"></script>
</head>
<body>

<!--
1. create an app.js to define our application called DemoApp
1. add ng-app directive to html
1. create a dreams_controller.js
1. add an ng-controller directive to the html
-->

  <div ng-controller="DreamsController as dreams">
    <h1>DreamsController</h1>
    <input type="text" ng-model="dreams.message">

    {{dreams.message}}

  </div>

  <hr>

  <div ng-controller="JournalController as journal">
    <h1>JournalController</h1>
    <form>
      <label>Title</label>
      <input type="text" ng-model="journal.newTitle">
      <label>Public</label>
      <input type="radio" ng-model="journal.isPublic" ng-value="true">
      <label>Private</label>
      <input type="radio" ng-model="journal.isPublic" ng-value="false">
      <label>Body</label>
      <textarea ng-model="journal.newBody"></textarea>
      <button ng-click="journal.add()">Add Entry</button>
    </form>

    <div ng-repeat="entry in journal.entries">
      <!-- make this look pretty -->
      <p>journal number: {{$index + 1}}</p>
      <p>{{entry.title}}</p>
      <p>{{entry.body}}</p>
      <p>public: {{entry.isPublic}}</p>
    </div>

    <button ng-click="journal.greet()">Hi</button>

  </div>

  <hr>

</body>
</html>
